<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKeys</key>
	<dict>
		<key>Books</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>Gemini</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>Groq</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>Hardcover</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>Podcast</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>PodcastIndexKey</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>PodcastIndexSecret</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>PodcastSecret</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>TMDB</key>
		<string>REDACTED_SET_LOCALLY</string>
		<key>TasteDive</key>
		<string>REDACTED_SET_LOCALLY</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
